{% extends "base.html" %}

    <title>Tar Heel Athletics</title>

{% block content %}
    <h2>Men's Teams</h2>
    <table class="table table-striped" width="647">
    <tbody>
    <tr>
    <td>Baseball</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Basketball</td>
    <td><a href="#">News</a></td>
    <td><a href="/player">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Cross Country</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Fencing</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Football</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Golf</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Lacrosse</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Soccer</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Swimming & Diving</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    <td>Tennis</td>
    <td><a href="#">News</a></td>
    <td><a href="#">Roster</a></td>
    <td><a href="#">Schedule</a></td>
    </tr>
    </tbody>
    </table>
   

{% endblock %}