@import url(static_media/css/bootstrap.css);

body {
  margin: 0;
  background-image: url(http://fc03.deviantart.net/fs15/f/2007/078/e/9/Carolina_Argyle_by_amendolair.jpg)
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.page-header {
  padding-bottom: 0px;
  padding-top: 4px;
  margin: 40px 0 0px;
  text-align: center;
  background-image: url(argyle.png);
}
.page-header h1{
  font-family: BebasNeue;
  font-size: 105pt;
}
@font-face{
  font-family: BebasNeue;
  src: url(BebasNeue.otf);
}

.navbar-default {
    border-bottom: 1px solid #eee;
}

.rowplayer {
  width: auto;
}

.rowplayer h2{
  font-family: BebasNeue;
  font-size: 40pt;
  color: #5C8CBB;
  text-indent: 52px;
}
.playerinfo li{
  line-height: 20pt;
}